<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tab-header">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `tab-header`
     * Componente para las tabs
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TabHeader extends Polymer.Element {
      static get is() { return 'tab-header'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tab-header'
          }
        };
      }
    }

    window.customElements.define(TabHeader.is, TabHeader);
  </script>
</dom-module>
